__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis
.DS_Store
__pycache__/
*.py[cod]
*$py.class
*$pyc.class
*$pyo.class
*~
.pydevproject
.vscode
.venv
venv/
.env
*.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.pytest_cache/
htmlcov/
.coverage
.coverage.*
.instance
.webassets-cache
.scrapy
TwistedMatrix-LICENSE
selenium_wd.log
lemon-pytest.log
.egg-info
.eggs
dist/
build/
*.egg-info/
*.egg