node_modules/
hakhathon/
.npm_cache_temp/
.env
.DS_Store
coverage/
.nyc_output/
build/
dist/
.next/
__pycache__/
*.pyc
.backend_env
.env.local
.env.example
.env.development.local
.env.test.local
.env.production.local
test_app.py
setup.sh
setup.bat/
npm-debug.log*
yarn-debug.log*
yarn-error.log*